
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@800&display=swap');
.titleAbt {
  text-align: center;
  font-family: 'Nanum Myeongjo', serif;
  font-size: 4.2vw;
  margin: 3%;
  row-gap: 7%;
  margin-top: -.1%;
}

.Welcome {
  text-align: center;
  font-family: 'Nanum Myeongjo', serif;
  font-size: 2.0vw;
  margin: auto;
  row-gap: 7%;
  width: 70%;
  align-items: center;
}

.All {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows:auto auto ;
  width: 80%;
  margin: auto;
  column-gap: 3%;
}

.Image1 {
  margin-top: 18%;
}

.meowww {
  animation: fadeIn 5s;

}

.text1 {
  text-align: center;
  font-family: 'Nanum Myeongjo', serif;
  font-size: 2.0vw;
  color:var(--text-color);
}

.part2 {
  width: 80%;
  margin: auto;
}

.Our {
  text-align: center;
  font-family: 'Nanum Myeongjo', serif;
  font-size: 4.2vw;
  margin: 3%;
  margin-top: 5%;

}

.OurSum {
  text-align: center;
  font-family: 'Nanum Myeongjo', serif;
  font-size: 2.0vw;
  margin-bottom: 5%;
  ;

}


@media only screen and (max-width: 600px) {
  .titleAbt{
    font-size: 8vw;
  }
  .Welcome {
    font-size: 2.9vw;
    row-gap: 0%;
    margin-bottom: 10%;

  }
.Image1{
  margin-bottom: 7%;
  display: none;
}
  .All {
    grid-template-columns: auto;
  }

  .text1 {
    text-align: center;
    font-size: 2.9vw;
  }

  .Our{
    font-size: 8vw;

  }
  .OurSum {
    font-size: 2.9vw;

  }
  .meowww{
    grid-row:3 ;
    }
    .part2 {
      width: 80%;
      margin: auto;
      grid-row: 3;
    }
}